<div class="container my-5">
  <h5 class="text-center mb-5">URL Shortener</h5>
  <div class="row justify-content-center mb-5">
    <div class="col-md-8">
      <form action="/shortURL" method="POST">
        <div class="input-group">
          <input required type="url" class="form-control" name="fullURL"
            placeholder="Please input URL you want to shorten">
          <span class="input-group-btn ml-3" style="width: 0;">
            <button type="submit" class="btn btn-outline-primary">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Full URL</th>
            <th scope="col">Short URL</th>
            <th scope="col">Clicks</th>
          </tr>
        </thead>
        <tbody>
          {{#each URLs}}
          <tr>
            <td><a href="{{this.full}}">{{this.full}}</a></td>
            <td><a href="{{this.short}}">http://localhost:3000/{{this.short}}</a></td>
            <td>{{this.clicks}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>